In [2]:
import pandas as pd
import random

In [48]:
group_0328 = pd.read_csv("group_0328.csv", encoding = 'CP949')
leader = list(group_0328[group_0328['coding experience'] == 1].index)

[4, 11, 13, 17, 39, 49]

In [52]:
group_0328.index(leader[0])

TypeError: 'RangeIndex' object is not callable

In [65]:
group_0328.loc[leader[3]]

grade                         1
number               2021123039
name                        박시연
sex                           여
coding experience             1
Name: 17, dtype: object

In [73]:
test = group_0328.drop(leader)
test

    grade      number name sex  coding experience
0       1  2020123108  정호준   남                  0
1       1  2020123109  한단일   남                  0
2       1  2020123110  한요섭   남                  0
3       1  2021123003  강희준   남                  0
5       1  2021123013  김민지   여                  0
6       1  2021123014  김범준   남                  0
7       1  2021123015  김성현   남                  0
8       1  2021123016  김시원   여                  0
9       1  2021123017  김예찬   남                  0
10      1  2021123021  김종선   남                  0
12      1  2021123030  김희원   남                  0
14      1  2021123034  박상우   남                  0
15      1  2021123035  박서준   남                  0
16      1  2021123036  박선민   여                  0
18      1  2021123040  박정재   남                  0
19      1  2021123041  박정헌   남                  0
20      1  2021123044  박찬서   남                  0
21      1  2021123046  박혜지   여                  0
22      1  2021123047  방성휘   남                  0
23      1  2021123049  서이준   여                  0
24      1  2021123051  성제민   남                  0
25      1  2021123052  손유한   남                  0
26      1  2021123053  송해수   남                  0
27      1  2021123055  안상진   남                  0
28      1  2021123056  여준성   남                  0
29      1  2021123059  유하연   여                  0
30      1  2021123061  이동건   남                  0
31      1  2021123063  이서원   여                  0
32      1  2021123064  이세연   남                  0
33      1  2021123067  이예주   여                  0
34      1  2021123068  이재혁   남                  0
35      1  2021123069  이중선   남                  0
36      1  2021123070  이찬울   남                  0
37      1  2021123072  장수현   여                  0
38      1  2021123074  전민서   여                  0
40      1  2021123079  정원종   남                  0
41      1  2021123080  정지안   여                  0
42      1  2021123081  정찬영   남                  0
43      1  2021123083  정혜윤   여                  0
44      1  2021123086  조윤서   여                  0
45      1  2021123087  조희은   여                  0
46      1  2021123088  진현지   여                  0
47      1  2021123089  차효정   여                  0
48      1  2021123090  최민석   남                  0
50      1  2021123095  황이삭   남                  0
51      3  2014123061  윤인상   남                  0
52      3  2017123085  장희석   남                  0
53      3  2018123087  정현주   여                  0
54      3  2019123026  김준희   여                  0

In [77]:
list(group_0328['number'].iloc[leader])

[2021123008, 2021123029, 2021123032, 2021123039, 2021123075, 2021123091]

AttributeError: 'DataFrame' object has no attribute 'suffle'

In [97]:
group_0328 = pd.read_csv("group_0328.csv", encoding = 'CP949')
shuffled_m = group_0328[group_0328['sex'] == '남'].sample(frac=1).reset_index(drop=True)
shuffled_m.to_csv('shuffled_m.csv', encoding = 'cp949')

In [98]:
shuffled_f = group_0328[group_0328['sex'] == '여'].sample(frac=1).reset_index(drop=True)
shuffled_f.to_csv('shuffled_f.csv', encoding = 'cp949')

In [100]:
group_0329 = pd.read_csv("group_0329.csv", encoding = 'CP949')

shuffled_m = group_0329[group_0329['sex'] == '남'].sample(frac=1).reset_index(drop=True)

shuffled_m.to_csv('shuffled_m.csv', encoding = 'cp949')

shuffled_f = group_0329[group_0329['sex'] == '여'].sample(frac=1).reset_index(drop=True)

shuffled_f.to_csv('shuffled_f.csv', encoding = 'cp949')